.DS_Store
serve.sh
*_cache/
*.R
**/data/
/.quarto/
/git/practice_repo/
/git/project/
/git/intro_old.qmd
/git/revisiting_old_commits_alternate.qmd
/r/parallel_rcpp_notes.org
/r/dissertations_data.csv
/python/api_query.py
/python/webscraping_old.qmd
/python/dissertations_data.csv
/ml/pt_training_old.qmd
/ml/pt_data.qmd
/ml/pt_model.qmd
/ml/pt_model_old.qmd
/ml/wb_upscaling_data.org
/bash/molecules
/tools/quarto_webinar_slides_first_more_wordy_version.qmd
/pyenv/