.DS_Store
serve.sh
*_cache/
*.R
*.py
*.jl
**/data/
/.quarto/
/ai/jx_env/
/ai/pt_env/
/ai/pt_training_old.qmd
/ai/pt_data.qmd
/ai/pt_model.qmd
/ai/pt_model_old.qmd
/ai/wb_upscaling_data.org
/git/practice_repo/
/git/project/
/git/intro_old.qmd
/git/revisiting_old_commits_alternate.qmd
/r/parallel_rcpp_notes.org
/r/dissertations_data.csv
/python/api_query.py
/python/ws_webscraping_old.qmd
/python/dissertations_data.csv
/tools/quarto_webinar_slides_first_more_wordy_version.qmd
bash/molecules/*.pdb
bash/molecules/*.txt