**/jx_env/
**/pt_env/
*.R
*.jl
*.py
*_cache/
*_old.qmd
/.quarto/
/ai/pt/data/
/ai/pt/pt_data.qmd
/ai/pt/pt_model.qmd
/ai/wb_upscaling_data.org
/bash/lengths.txt
/bash/molecules/*.pdb
/bash/molecules/*.txt
/bash/sorted.txt
/emacs/wb_new_tools.org
/git/intro_revisiting_old_commits_alternate.qmd
/git/practice_repo/
/git/project/
/python/dissertations_data.csv
/r/dissertations_data.csv
/r/parallel_rcpp_notes.org
/talks/2024_agex_conference_schedule.pdf
/talks/2024_sfu_bdh_bccai_contract.pdf
/talks/bccai_clinic.pdf
/talks/bccai_ianchan_talk.pdf
/talks/mh_session_poster.png
/talks/mh_session_poster_cropped.png
ai/jx/tfgpu
ai/jxai/fl_data_bits.qmd
