@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Maven+Pro:wght@400..900&display=swap');

/*. navbar */

.navbar-logo {
  box-shadow: none !important;
  border-radius: 0px !important;
}

.navbar-brand > img {
  max-height: 36px;
}

@media(max-width: 991.98px) {
  .nav-page {
    font-size: 0.1rem !important;
    line-height: 1.1rem !important;
  }
}

.headroom--top {
  display: block;
}

.headroom--not-top {
  display: none;
}

/*. cards and buttons */

/*.. cards */

.card-body {
  line-height: 1.4rem;
  padding: 0.9rem 1rem 0.2rem 1rem;
}

.card-body2 {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0.9rem 1rem 0.2rem 1rem;
  font-size: 0.95rem;
  line-height: 1rem;
}

.card-body3 {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0.9rem 1rem 0.2rem 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/*.. buttons */

@media(max-width: 500px) {
  .btn-redirect {
    line-height: 1.3rem;
    font-size: 0.9rem;
    margin: 2rem 0;
  }
}

/*. img */

img {
  border-radius: 3px;
}

img[alt=bgtransparent] {
  box-shadow: none;
  background-color: transparent !important;
}

img[alt=frontlogo] {
  box-shadow: none;
  border-radius: 0;
}

/*. boxes */

@media(max-width: 500px) {
  .def {
    margin: 1.5rem 0;
    padding: 0.7rem 0.7rem 0rem 0.9rem;
    line-height: 1.2rem;
    font-size: 0.78rem;
  }
}

@media(max-width: 500px) {
  .topdef {
    padding: 0.7rem 0.5rem 0rem 0.9rem;
  }
}

@media(max-width: 500px) {
  .box {
    margin: 1.2rem 0;
    padding: 0.8rem 1.5rem 0.1rem 1.4rem;
    font-size: 0.78rem;
  }
}

@media(max-width: 500px) {
  .betterbox {
    margin: 1.5rem 0rem;
    padding: 0.7rem 0.7rem 0rem 0.9rem;
    font-size: 0.78rem;
    line-height: 1.3rem;
  }
}

@media(max-width: 500px) {
  .info {
    margin: 1.2rem 0;
    padding: 0.5rem 0.5rem 0rem 0.8rem;
    font-size: 0.85rem;
  }
}

/*. text format */

@media(max-width: 991.98px) {
  .inlinenote {
    font-size: 0.82rem !important;
    line-height: 0.82rem !important;
  }
}

/*. front matter */

@media(min-width: 1200px) {
  h1.title,
  .title.h1 {
    font-size: 2.22rem
  }
}

p.subtitle{
  font-size: 1.55em !important;
}

@media(max-width: 991.98px) {
  p.subtitle{
    padding-top: 0rem !important;
    font-size: 1.13em !important;
    line-height: 1.27rem !important;
  }
}

/*. headings */

@media(min-width: 1200px) {
  h2,
  .h2 {
    font-size: 1.85rem
  }
}

h3,
.h3 {
  padding-bottom: .4rem;
  margin-top: 2.0rem;
  font-size: calc(1.275rem + 0.3vw);
}

@media(min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.55rem;
  }
}

@media(min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.4rem
  }
}

/*. lists */

ul {
  list-style-type: "﹣ ";
  padding-inline-start: 25px;
}

@media(max-width: 500px) {
  ul {
    padding-inline-start: 15px;
  }
}

/*. banner */

.quarto-title-banner li {
  font-size: 0.9rem;
}

/*. general */

.right {
  text-align: right !important
}

hr {
  margin: 0.5rem 1rem 0.7rem 0 !important;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.1;
}

/*. callouts */

/* disable callout img rotation */
.callout .callout-header {
  font-size: 1rem !important;
}

/* disable callout img rotation */
.callout .callout-header[aria-expanded=false] .callout-toggle::before {
  transform: none;
}

.callout.callout-style-default .callout-body {
  font-size: 0.94rem !important;
  padding: 0.4rem 1rem !important;
}

div.callout-note .callout-toggle::before {
  background-image: url('/img/click.png')
}

div.callout-warning .callout-toggle::before {
  background-image: url('/img/click.png')
}

div.callout-important .callout-toggle::before {
  background-image: url('/img/click.png')
}

div.callout-tip .callout-toggle::before {
  background-image: url('/img/click.png')
}

div.callout-caution .callout-toggle::before {
  background-image: url('/img/click.png')
}
