@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Maven+Pro:wght@400..900&display=swap');

/*. navbar */

div.sidebar-item-container:hover,
div.sidebar-item-container:focus {
    color: #b5111b !important;
}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
    color: #b5111b !important;
}

.navbar {
  --bs-navbar-active-color: #b5111b !important;
  --bs-navbar-hover-color: #740b12 !important;
  --bs-navbar-brand-hover-color: #740b12 !important;
}

.navbar-logo {
  box-shadow: none !important;
  border-radius: 0px !important;
}

@media(min-width: 991.98px) {
  #quarto-header {
    border-bottom: 1px solid #dee2e6;
  }
}

.navbar-brand > img {
  max-height: 36px;
}

@media(max-width: 991.98px) {
  .nav-page {
    font-size: 0.1rem !important;
    line-height: 1.1rem !important;
  }
}

.headroom--top {
  display: block;
}

.headroom--not-top {
  display: none;
}

/*. sidebar */

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid #b5111b;
  color: #b5111b !important;
}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
  color: #b5111b !important;
}

/*. cards and buttons */

/*.. cards */

.card-body {
  line-height: 1.4rem;
  padding: 0.9rem 1rem 0.2rem 1rem;
}

.card-body2 {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0.9rem 1rem 0.2rem 1rem;
  font-size: 0.95rem;
  line-height: 1rem;
}

.card-body3 {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0.9rem 1rem 0.2rem 1rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.card {
  width: 100% !important;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.card:hover {
  background-color: #e1e6ea;
  a {
    color: #000000;
  }
}

.card-special {
  width: 100% !important;
  background-color: #962b2d;
  color: #ffffff !important;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  a {
    color: #ffffff;
  }
}

.card-special:hover {
  background-color: #b5111b;
}

.card-title {
  color: #404040;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.card-title2 {
  color: #404040;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-decoration: none !important;
}

.card-title3 {
  color: #404040;
  font-size: 1rem;
  line-height: 1.2rem;
  text-decoration: none !important;
}

.card-title-ws {
  color: #404040;
  font-size: 1rem;
  line-height: 1.4rem;
}

/*.. buttons */

.btn-redirect {
  font-family: 'Crimson Pro', serif;
  font-style: italic;
  line-height: 1.5rem;
  font-size: 1.05rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem 1rem 0 1rem;
  color: #404040;
}

@media(max-width: 500px) {
  .btn-redirect {
    line-height: 1.3rem;
    font-size: 0.9rem;
    margin: 2rem 0;
  }
}

.btn-outline-primary {
  --bs-btn-color: #b5111b;
  --bs-btn-border-color: #b5111b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b5111b;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 39, 128, 227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b5111b;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b5111b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-btn-bg: transparent;
  --bs-gradient: none;
  border-radius: 20px;
}

/*. img */

img {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
}

img[alt=noshadow] {
  box-shadow: none;
}

img[alt=frontlogo] {
  box-shadow: none;
  border-radius: 0;
}

/*. boxes */

.def {
  background-color: #eae8f0;
  font-family: 'Crimson Pro', serif;
  margin: 2rem 0;
  padding: 1rem 1.8rem 0.3rem 1.8rem;
  line-height: 1.5rem;
  font-size: 1.03rem;
  border: 0.5pt solid #e8e2e9;
  border-radius: 5px;
}

@media(max-width: 500px) {
  .def {
    margin: 1.5rem 0;
    padding: 0.7rem 0.7rem 0rem 0.9rem;
    line-height: 1.2rem;
    font-size: 0.78rem;
  }
}

.topdef {
  background-color: #F8F9FA;
  font-family: 'Maven Pro', sans-serif;
  padding: 1rem 1.8rem 0.3rem 1.8rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: #44494d;
  border: 0.5pt solid #e8e2e9;
  border-radius: 5px;
  a {
    color: #b5111b;
  }
  a:hover {
    color: #740b12;
  }
}

@media(max-width: 500px) {
  .topdef {
    padding: 0.7rem 0.5rem 0rem 0.9rem;
  }
}

.box {
  font-family: 'Crimson Pro', serif;
  margin: 2rem 0;
  padding: 1rem 1.8rem 0.3rem 1.8rem;
  line-height: 1.3rem;
  font-size: 1.0rem;
  border: 1pt solid #e8e2e9;
  border-radius: 5px;
}

@media(max-width: 500px) {
  .box {
    margin: 1.2rem 0;
    padding: 0.8rem 1.5rem 0.1rem 1.4rem;
    font-size: 0.78rem;
  }
}

.betterbox {
  font-family: 'Crimson Pro', serif;
  margin: 3rem 15rem 3rem 0rem;
  padding: 0.9rem 1rem 0rem 1.4rem;
  line-height: 1.4rem;
  font-size: 1.0rem;
  border: 0.55pt solid #595959;
  border-radius: 5px;
}

@media(max-width: 500px) {
  .betterbox {
    margin: 1.5rem 0rem;
    padding: 0.7rem 0.7rem 0rem 0.9rem;
    font-size: 0.78rem;
    line-height: 1.3rem;
  }
}

.info {
  background-color: #f7fcfc;
  font-family: 'Crimson Pro', serif;
  margin: 2rem 0;
  padding: 1rem 2rem 0.5rem 2rem;
  font-size: 1.05rem;
  border: 1pt solid #669999;
  border-radius: 5px;
}

@media(max-width: 500px) {
  .info {
    margin: 1.2rem 0;
    padding: 0.5rem 0.5rem 0rem 0.8rem;
    font-size: 0.85rem;
  }
}

/*. text format */

.exo {
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.92rem;
  color: #424a57;
  border-left: 4px solid #f6903c;
  margin: 2rem 0 2rem 2rem;
  padding-left: 1rem;
}

.exosimple {
  color: #aa5108;
  border-left: 5px solid #f6903c;
  margin: 45px 50px 45px 20px;
  padding-left: 1.5rem;
  line-height: 2rem;
}

.downloadthis {
  border-radius: 3%;
  font-size: 0.9rem;
  border: none;
  background-color: #d9d9d9;
  color: #000000;
  padding: 0.2rem 0.4rem;
}

.llm {
  border-radius: 5px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.85rem;
  border: none;
  /* background-color: #d9d9d9; */
  background-color: #006a7f;
  color: #fff;
  padding: 0.9rem 1rem 0.01rem 1rem;
  margin-bottom: 1rem;
}

.note {
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  padding-left: 1rem;
  margin: 2rem 0 2rem 2rem;
  border-left: 3px solid #7b809d;
}

.notenoline {
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 2rem;
}

.notenoit {
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9rem;
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 2rem;
  border-left: 4px solid #7b809d;
}

.hnote {
  color: #595959;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  margin: 0.5rem 0 0 0;
}

.topinline {
  font-family: 'Maven Pro', sans-serif;
  padding: 1rem 0rem 0.3rem 1rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: #44494d;
}

.inlinenote {
  color: #424a57;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  padding: 0 0 0 0.8rem;
}

@media(max-width: 991.98px) {
  .inlinenote {
    font-size: 0.82rem !important;
    line-height: 0.82rem !important;
  }
}

.example {
  /* color: #426577; */
  color: #487084;
  margin: 0.5rem 0 0 0.2rem;
}

.example_brown {
  /* color: #77773c; */
  color: #787854;
  margin: 0.5rem 0 0 0.2rem;
}

.example_gray {
  color: #6e7b91;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.92rem;
  font-style: italic;
  margin: 0.5rem 0 0 0.2rem;
}

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  font-size: .9rem;
  color: #978282;
  font-style: italic;
  text-align: center;
}

.emph {
  font-weight: 600;
  color: #e9802f;
}

.yourturn {
  color: #f79e55;
  font-weight: bold;
}

.blockquote {
  margin: 20px 0px 20px 30px !important;
  padding: 0px 0px 0px 20px !important;
  border-left: 4.5px solid #677755 !important;
  font-style: italic !important;
  font-size: 0.95rem;
  color: #74865f;
}

@media(max-width: 500px) {
  .blockquote {
    margin: 20px 0px 20px 10px !important;
    padding: 0px 0px 0px 10px !important;
    border-left: 2px solid #677755 !important;
    font-size: 0.85rem;
  }
}

.date {
  color: #996600;
  font-weight: 600;
  font-size: 0.95rem;
  font-style: italic;
}

/*. front matter */

@media(min-width: 1200px) {
  h1.title,
  .title.h1 {
    font-size: 2.22rem
  }
}

p.subtitle{
  font-size: 1.55em !important;
}

@media(max-width: 991.98px) {
  p.subtitle{
    padding-top: 0rem !important;
    font-size: 1.13em !important;
    line-height: 1.27rem !important;
  }
}

/*. headings */

h2,
.h2{
  border-bottom: .5px solid #6e8091;
  padding-bottom: .5rem;
  font-size: calc(1.345rem + 1.14vw);
}

@media(min-width: 1200px) {
  h2,
  .h2 {
    font-size: 1.85rem
  }
}

h3,
.h3 {
  padding-bottom: .4rem;
  margin-top: 1.5rem;
  font-size: calc(1.275rem + 0.3vw);
}

@media(min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.55rem;
  }
}

h4,
.h4 {
  margin-bottom: 1rem;
  font-size: calc(1.275rem + 0.3vw);
  color: #374049;
}

@media(min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.32rem
  }
}

h5,
.h5 {
  margin-bottom: 0.9rem;
  font-size: 1.23rem;
  color: #4d5966;
}

h6,
.h6 {
  margin-bottom: 0.8rem;
  font-size: 1.21rem;
  color: #637383;
}

/*. code */

div.sourceCode {
  border: 0.5px solid #404040 !important;
}

/* inline code + code blocks not overwritten
 by language highlighting (so those simply with ``` */
code {
  color: #ff54ff !important;
  font-size: 0.9rem !important;
}

/* to overwrite code in the ``` blocks */
pre code {
  /* color: #3d5c5c !important; */
  color: #5d758c !important;
}

.code-with-filename .code-with-filename-file,
.code-with-filename .code-with-filename-file pre{
  border: none !important;
  background-color: #cccccc !important;
  font-style: italic;
}

/*. lists */

ul {
  list-style-type: "ï¹£ ";
  padding-inline-start: 25px;
}

@media(max-width: 500px) {
  ul {
    padding-inline-start: 15px;
  }
}

/*. banner */

.quarto-title-banner a {
  color: #b5111b !important;
}

.quarto-title-banner a:hover {
    color: #740b12 !important;
}

/*. general */

a {
  text-decoration: none;
  color: #b5111b;
}

a:hover {
  color: #740b12;
}

.right {
  text-align: right !important
}

hr {
  margin: 0.5rem 1rem 0.7rem 0 !important;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.1;
}

/*. callouts */

/* disable callout img rotation */
.callout .callout-header {
  font-size: 1rem !important;
}

/* disable callout img rotation */
.callout .callout-header[aria-expanded=false] .callout-toggle::before {
  transform: none;
}

.callout.callout-style-default .callout-body {
  font-size: 0.94rem !important;
  padding: 0.4rem 1rem !important;
}

/* callout-note */
div.callout-note.callout {
  border-left-color: #506687 !important;
  /* border-left-color: #6a737b !important; */
}

div.callout-note.callout-style-default>.callout-header {
  background-color: #eff2f6 !important;
  /* background-color: #f1f2f3 !important; */
}
div.callout-note .callout-toggle::before {
  background-image: url('/img/click.png')
}

/* callout-warning */
/* for solutions */
div.callout-warning.callout {
  border-left-color: #999966 !important;
}
div.callout-warning.callout-style-default>.callout-header {
  background-color: #f5f5f0 !important;
}
div.callout-warning .callout-toggle::before {
  background-image: url('/img/click.png')
}

/* callout-important */
div.callout-important.callout {
  border-left-color: #ff9900 !important;
}
div.callout-important.callout-style-default>.callout-header {
  background-color: #fff5e6 !important;
}
div.callout-important .callout-toggle::before {
  background-image: url('/img/click.png')
}

/* callout-tip */
div.callout-tip.callout {
  border-left-color: #993333 !important;
}
div.callout-tip.callout-style-default>.callout-header {
  background-color: #f9ecec !important;
}
div.callout-tip .callout-toggle::before {
  background-image: url('/img/click.png')
}

/* callout-caution */
div.callout-caution.callout {
  border-left-color: #666699 !important;
}
div.callout-caution.callout-style-default>.callout-header {
  background-color: #f0f0f5 !important;
}
div.callout-caution .callout-toggle::before {
  background-image: url('/img/click.png')
}
